[*]
charset = utf-8
insert_final_newline = true

[*.{h,cmake,cpp}]
indent_style = tab
indent_size = 4

[*.json]
indent_style = space
indent_size = 2

[*.hlsl]
indent_style = tab
indent_size = 4

[*.{md,ini}]
indent_style = space
indent_size = 2
